{
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"jsxBracketSameLine": false,
	"arrowParens": "avoid",
	"semi": true,
	"trailingComma": "none",
	"printWidth": 100
}
